#contact {
  padding: 20px;
}

#contact ul {
  display: flex;
  justify-content: space-between;
}

.contact-container {
  margin: 0 auto;
  padding: 0px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-facebook {
  background-color: #1877f2;
}

.btn-linkedin {
  background-color: #0e76a8;
}

.btn-instagram {
  background-color: #c13584;
}

.btn-github {
  background-color: #333;
}

.btn-whatsapp {
  background-color: #25d366;
}

.btn-whatsapp:hover,
.btn-whatsapp:focus {
  background-color: #128c7e;
}

.btn-email {
  background-color: #d32020;
}

.btn-email:hover,
.btn-email:focus {
  background-color: #f83b34;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

.btn:visited {
  color: #fff;
}

@media (max-width: 1200px) {
  #contact ul {
    margin: 0px;
    display: block;
    margin: auto;
    text-align: center;
  }

  .btn {
    display: block;
    padding: 10px 0px;
    margin: 5px 10px;
  }

}

@media (max-width: 768px) {
  #contact {
    padding: 0px;
    margin: 0px;
    height: 100vh;
  }

  #contact p {
    margin: 0px;
    padding: 0px;
    width: 90%;
  }

  .contact-container {
    margin: 0px;
    margin-left: 10px;

  }

  #contact ul {
    margin: 0px;
    display: block;
  }

  .btn {
    display: block;
    padding: 10px 0px;
    margin: 5px 10px;
  }
}