:root {
    /* Variáveis padrões (desktop/laptop) */
    --scene-width: 50vw;
    --scene-height: 33.33vw; /* Mantém a proporção 3:2 (largura x altura) */
    --perspective: 1200px;
    --translateZ: 25vw; /* Proporcional à largura da cena */
}

@media (max-width: 1200px) {
    :root {
        /* Ajustes para laptops */
        --scene-width: 45vw;
        --scene-height: 45vw; /* Proporção de 1:1, cubo quadrado */
        --perspective: 800px;
        --translateZ: 22vw;
    }
    .face{
        top: 100px;
    }
}

@media (max-width: 768px) {
    :root {
        /* Ajustes para tablets e celulares */
        --scene-width: 80vw; /* Cubo maior em telas menores */
        --scene-height: 80vw; /* Mantendo 1:1 no mobile */
        --perspective: 600px;
        --translateZ: 40vw; /* Reduzido para melhor adaptação em mobile */
    }

    .scene {
        padding: 0;
        margin: 0;
    }
    .face{
        top: 120px;
    }
    .face, .cube {
        margin: 0;
        padding: 0;
    }
}


.scene {
    width: var(--scene-width);
    height: var(--scene-height);
    perspective: var(--perspective);
    position: relative;
    transition: all 0.5s;
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out; /* Transição suave do cubo */
}

.face {
    position: absolute;
    width: 100%; /* A largura é agora relativa à cena */
    height: 100%; /* A altura é agora relativa à cena */
    background: var(--muted-color);
}

/* Posicionamento das faces do cubo */
.face-front  { transform: rotateY(  0deg) translateZ(var(--translateZ)); }
.face-back   { transform: rotateY(180deg) translateZ(var(--translateZ)); }
.face-right  { transform: rotateY( 90deg) translateZ(var(--translateZ)); }
.face-left   { transform: rotateY(-90deg) translateZ(var(--translateZ)); }