/* Definições gerais */
:root {
  --font-family: Arial, sans-serif;
  --background-color: #121212;
  --card-background: #1E1E1E;
  --accent-color: #4CAF50;
  --text-color: #E0E0E0;
  --text-menu-color: #4CAF50;
  --muted-color: #2f4049;
}

body.white-mode {
  --background-color: #121212;
  --card-background: #F1F1F1;
  --accent-color: #0077B5;
  --text-color: #212121;
  --text-menu-color: #E0E0E0;
  --muted-color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
  min-height: 700px;

}

p {
  font-family: var(--font-family);
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
  background: var(--muted-color);
  color: var(--text-color);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  overflow-y: auto;   /* Permita a rolagem vertical */
}

.container {
  position: absolute;
  top: 15vh;
  left: 30vw;
}

.animated-heading {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid var(--accent-color);
  animation: blink 0.7s step-end infinite;
}

.blue {
  color: var(--accent-color);
}

.black {
  color: var(--text-color);
}

.black-blue {
  background: linear-gradient(90deg, var(--text-color) 90px, var(--accent-color)90px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


@media (max-width: 990px) {
  body{
    width: 100vw;
    height: auto;
    margin: 0px;
  }

  .container {
    top: 35vh;
    left:15vw;

  }
}

@media (max-width: 760px) {

  .container {
    top: 150px;

    left:12vw;
  }
}

@media (max-width: 600px) {

  .container {
    top: 150px;

    left:12vw;
  }
}

@media (max-width: 460px) {

  .container {
    top: 150px;
    left:10vw;
  }
}