/* Definições gerais */
:root {
  --primary-color: #2a2a72;
  --secondary-color: #009ffd;
  --about-color: #f9f9f9;
  --font-family: Arial, sans-serif;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --hr-color: #bbb;
  --section-margin-top: 50px;
  --section-margin-bottom: 50px;
  --section-padding: 80px 0;
  --heading-font-size: 40px;
  --heading-font-weight: 700;
  --heading-margin-top: 0;
  --heading-margin-bottom: 15px;
  --text-color: #333;
  --text-color-light: #999;
  --text-color-white: #f5f5f5;
  --link-color: #0077b5;
  --link-color-hover: #005b8e;
  --icon-font-size: 28px;
  --icon-margin-right: 10px;
  --button-background-color: #fff;
  --button-color: #000;
  --button-hover-background-color: #000;
  --button-hover-color: #fff;
}
html {
  scroll-behavior: smooth;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.azul {
  color: var(--link-color);
}

.preto {
  color: black;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

body {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-image: -webkit-linear-gradient(
    110deg,
    var(--primary-color) 65%,
    var(--about-color) 65%
  );
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

/* Estilização da seção "Projetos" */

#projects {
  padding: 50px 0;
}

#projects h2 {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilo do rodapé */
footer {
  background-color: #ccc;
  color: #333;
  padding: 1rem;
  text-align: center;
}
