/* Definições gerais */
:root {
  --font-family: Arial, sans-serif;
  --background-color: #121212;
  /* Fundo muito escuro */
  --card-background: #1E1E1E;
  /* Cartões e seções */
  --accent-color: #4CAF50;
  /* Verde vibrante para ações */
  --text-color: #E0E0E0;
  --text-menu-color: #4CAF50;
  /* Texto claro */
  --muted-color: #2f4049;
  /* Texto secundário */
}

body.white-mode {
  --background-color: #121212;
  /* Fundo branco */
  --card-background: #F1F1F1;
  /* Cartões e seções */
  --accent-color: #0077B5;
  /* Azul para ações */
  --text-color: #212121;
  --text-menu-color: #E0E0E0;

  /* Texto escuro */
  --muted-color: #FFFFFF;
  /* Texto secundário */
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: var(--font-family);
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--muted-color);
  color: var(--text-color);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
}

.animated-heading {
  display: inline-block;
  overflow: hidden;
  /* Esconde o texto que não foi "digitado" ainda */
  /* Evita que o texto quebre em várias linhas */
  border-right: 2px solid var(--accent-color);
  /* Cursor de digitação */
  animation: blink 0.7s step-end infinite;
  /* Animação do cursor */
}

.blue {
  color: var(--accent-color);
}

.black {
  color: black;
}

.black-blue {
  background: linear-gradient(90deg, black 90px, var(--accent-color)90px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


@media (max-width: 768px) {
  body{
    width: 100vw;
    height: auto;
    margin: 0px;
  }
}